.custom-color{
    color: #1566C0;
}
.custom-font{
font-family: 'Roboto', sans-serif;
}
.font-title{
    font-family: 'Righteous', cursive;
}
/* HEADER  */
.img-header{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/header.jpg");
}
.bottone-header{
    width: 125px;
    height: 40px;
    font-weight: 450;
}
.colonna-titolo-sottotitolo-bottone{
    margin-top: 100px;
}
.titolo-header{
    font-size: 3.5em;
}
.onda-grigia{
    bottom: 15px;
}
/* SEZIONE CARD  */
.card{
    height: 21rem;
    width: 16rem;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
}
.card-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/2.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}.card-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/3.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}.card-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/4.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.titolo-card{
    border-bottom: 2px solid rgb(253, 253, 46);
    font-size: 1.9em;
}
.testo-card{
    font-size: 13px;
}
.img-card{
    transform: scale(1.3);
}
/* SEZIONE ICONE TESTO ITOTLO */
.sezione-icone-testo-titolo{
    margin-top: 150px;
}
.testo-titolo{
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.titolo-di-testo-titolo , .testo-di-testo-titolo{
    font-weight: 500;
}
.loghi{
    width: 70px;
    height: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;

}
.mam{
    width: 58%;
}
.img-logo{
    font-size: 25px;
}