.custom-color{
    color: #1566C0;
}
.custom-font{
font-family: 'Roboto', sans-serif;
}
.font-title{
    font-family: 'Righteous', cursive;
}
/* HEADER  */
.img-header{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/header.jpg");
}
.bottone-header{
    width: 125px;
    height: 40px;
    font-weight: 450;
}
.colonna-titolo-sottotitolo-bottone{
    margin-top: 100px;
}
.titolo-header{
    font-size: 3.5em;
}
.onda-grigia{
    bottom: 15px;
}
